.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    
  }

li{
    width: 20rem;
    margin: 2vw;
    list-style: none;

  img{
    width: 20rem;
  }
  div{
margin-bottom: 1vw;}
}
.tick{
font-weight: 900;
color: rgb(6, 250, 6);
}

.cross{
font-weight: 900;
color: rgb(255, 17, 0);
}
}