.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    
  }

li{
    width: 20rem;
    margin: 2vw;
    list-style: none;
text-align: center;

  img{
    width: 20rem;
  }
}
}