.locationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
    
  }

li{
    width: 30rem;
    margin: 2vw;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;

  img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s all ease;
    
    
    &:hover{
        opacity: 0.7;
        transform: scale(1.02);
    }
  }
  div{
    margin-bottom: 1vw;
    padding-left: 10px;
    padding-right: 10px;}
}
.tick{
font-weight: 900;
color: rgb(6, 250, 6);
}

.cross{
font-weight: 900;
color: rgb(255, 17, 0);
}

.Link:hover{
opacity: 0.7;
}
}

